[user]
  email = root@container
  name = Container Chef

[core]
  editor = vim
[log]
  date = iso
[alias]
  ac = !git add -A && git commit
  br = branch
  ci = commit
  co = checkout
  fa = fetch --all
  l = log -3
  lf = log --follow --patch --
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  puff = pull --ff-only
  rr = remote -v
  st = status
  up = rebase
[init]
  defaultBranch = master
